<div data-control="toolbar">

    <a
        href="<?= Backend::url('monologophobia/company/payments/create/') ?>"
        class="btn btn-primary oc-icon-plus">New Payment</a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete these Payments?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete Payments
    </button>

    <a
        style="margin-left: 20px;"
        class="btn btn-info oc-icon-wrench span-right"
        href="<?= Backend::url('monologophobia/company/purchasetypes/') ?>">
        Manage Purchase Types
    </a>

</div>
