<div class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <?php if (!isset($error)): ?>
    <form class="layout stretch" id="quickproject">
        <div class="layout-row">

            <div class="form-group text-field span-left is-required" data-field-name="name" id="Form-field-ProjectsModel-name-group">
                <label for="Form-field-ProjectsModel-name">Job Name</label>
                <input type="text" name="ProjectsModel[name]" id="Form-field-ProjectsModel-name" class="form-control" autofocus="autofocus" />
            </div>

            <div class="form-group number-field span-right is-required form-left" data-field-name="price" id="Form-field-ProjectsModel-price-group">
                <label for="Form-field-ProjectsModel-price">Price (£)</label>
                <input type="text" name="ProjectsModel[price]" id="Form-field-ProjectsModel-price" class="form-control" maxlength="255" value="0">
            </div>

            <div class="form-group dropdown-field span-left is-required" data-field-name="client_id" id="Form-field-ProjectsModel-client_id-group">
                <label for="Form-field-ProjectsModel-client_id">Client</label>
                <select id="Form-field-ProjectsModel-client_id" name="ProjectsModel[client_id]" class="form-control custom-select">
                    <?php foreach ($clients as $client) { ?>
                    <option value="<?php echo $client->attributes['id']; ?>"><?php echo $client->attributes['name']; ?></option>
                    <?php } ?>
                </select>
            </div>

            <div class="form-group textarea-field span-right" data-field-name="description" id="Form-field-ProjectsModel-description-group">
                <label for="Form-field-ProjectsModel-description">Description</label>
                <textarea name="ProjectsModel[description]" id="Form-field-ProjectsModel-description" class="form-control field-textarea size-large"></textarea>
            </div>

            <div class="form-group widget-field span-left is-required" data-field-name="saletypes" id="Form-field-ProjectsModel-saletypes-group">
                <label for="Form-field-ProjectsModel-saletypes">Type</label>
                <select id="Form-field-ProjectsModel-saletypes" name="ProjectsModel[saletypes]" class="form-control">
                    <?php foreach ($types as $type) { ?>
                    <option value="<?php echo $type->attributes['id']; ?>"><?php echo $type->attributes['name']; ?></option>
                    <?php } ?>
                </select>
            </div>

            <hr style="display: block; outline: none; border: none; height: 1px; width: 100%; clear: both;" />

            <button
                type="submit"
                data-request="<?= $this->getEventHandler('onSubmit') ?>"
                data-hotkey="ctrl+s, cmd+s, ctrl+enter"
                data-request-success="$(this).closest('form').trigger('reset'); refreshOngoing();"
                class="btn btn-primary">
                <?= e(trans('backend::lang.form.save')) ?>
            </button>

        </div>
    </form>
    <?php else: ?>
        <p class="flash-message static warning"><?= e($error) ?></p>
    <?php endif ?>
</div>