<div class="layout control-toolbar standalone-paddings">
        <div class="layout-cell toolbar-item">
            <div data-control="toolbar" data-disposable="">
                <div class="btn-group offset-right">
                    <button type="button" class="btn btn-primary oc-icon-upload dz-clickable" data-control="upload">Upload</button>
                    <button type="button" class="btn btn-primary oc-icon-folder" data-command="create-folder">Add folder</button>
                </div>

                <button type="button" class="btn btn-default oc-icon-refresh empty offset-right" data-command="refresh"></button>

                <div class="btn-group offset-right">
                    <button type="button" class="btn btn-default oc-icon-reply-all" data-command="move">Move</button>
                    <button type="button" class="btn btn-default oc-icon-trash" data-command="delete">Delete</button>
                </div>

                <div class="btn-group offset-right" id="MediaManager-manager-view-mode-buttons">
                    <button type="button" class="btn btn-default oc-icon-align-justify empty on" data-command="change-view" data-view="grid">
</button>
<button type="button" class="btn btn-default oc-icon-th empty " data-command="change-view" data-view="list">
</button>
<button type="button" class="btn btn-default oc-icon-th-large empty " data-command="change-view" data-view="tiles">
</button>                </div>
            </div>
        </div>
        <div class="layout-cell toolbar-item width-fix" style="width: 110px;">
            <div class="relative loading-indicator-container size-input-text">
                <input placeholder="Search" type="text" name="search" value="" class="form-control icon search growable" data-control="search" autocomplete="off" data-load-indicator="" data-load-indicator-opaque="">
            </div>
        </div>
    </div>