<?php
header('X-Frame-Options', 'anything');
?>

<a href="https://drive.google.com/drive/folders/0Bz6wh2P33i_DfldfaXZGM29OeXI2ekQ5TGJqR05ZWFZoR0VYX2dWclJjall3VVRwVUV1Qmc" title="Modify" class="btn btn-primary" target="_blank">Modify</a> <span style="margin-left: 2rem;"> If you can't see anything, <a href="https://accounts.google.com" title="Login" target="_blank">Login with your @thequill email address</a></span><br /><br />
<iframe src="https://drive.google.com/embeddedfolderview?id=0Bz6wh2P33i_DfldfaXZGM29OeXI2ekQ5TGJqR05ZWFZoR0VYX2dWclJjall3VVRwVUV1Qmc#grid&output=embed" width="100%" height="100%" frameborder="0"></iframe>