<?php
$sales  = [];
foreach ($types as $type) {
    $object = new stdclass();
    $object->price = 0;
    $object->name  = $type->attributes['name'];
    foreach ($type->projects as $project) {
        if ($project->invoice_id) {
            $object->price = $object->price + $project->price;
        }
    }
    $sales[$type->attributes['id']] = $object;
}
?>

<?= $this->listRender() ?>

<div class="list-header">
    <h4>Sales by Type</h4><br />
    <div class="control-chart" data-control="chart-bar" data-full-width="0">
        <ul>
            <?php foreach ($sales as $key => $value) { ?>
                <li data-color="<?php echo sprintf("#%06x",rand(0,16777215)); ?>"><?php echo $value->name; ?> <span><?php echo $value->price; ?></span>
            <?php } ?>
        </ul>
    </div>
</div>