.report-item {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
    vertical-align: top;
    min-height: 67px;
    position: relative;
}

.control-chart h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin: 0;
    position: absolute;
    top: -1.5em;
    left: 2%;
}

.report-container .control-chart.sales-by-type {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 4rem;
}

#filter-client, #filter-client .select2-container--default, #filter-client select {
    display: inline-block;
    width: auto;
}

#filter-client .select2-selection {
    width: 200px;
}

#ongoing .complete td {
    background-color: rgba(80, 230, 100, 0.75) !important;
}

#ongoing .suspended td {
    background-color: rgba(255, 162, 0, 0.75) !important;
}

#ongoing table tbody tr td.toggle {
    cursor: pointer;
}

table.table.data tbody td.edit {
    padding: 11px 0;
}

table.table.data tbody td.edit a {
    color: #0181b9;    
}