<style>
#invoice {
    width: 100%;
    max-width: 21cm;
}
#invoice #details #customer {
    vertical-align: top;
}
#invoice #details h4 {
    margin: 0.5rem 0 0 0;
    font-size: 1.25rem;
}
#invoice footer #total p {
    font-size: inherit;
}
#details #invoice-number {
    background-color: {{ settings.colour }} !important;
}
.branding {
    color: {{ settings.colour }} !important;
    -webkit-print-color-adjust: exact;
}
#invoice #items .description {
    padding: 0.25cm;
}
</style>

<div id="invoice">

    <header>
        <div id="logo">
            <img src="{{ brand.getLogo() }}" alt="{{ brand.app_name }}" />
        </div>
        <div id="company">
            <p><strong>{{ brand.app_name }}</strong></p>
            <p>{{ settings.contact|nl2br }}</p>
        </div>
    </header>

    <div id="details">
        <div id="invoice-number">
            <h3>Invoice <span class="id">{{ invoice.id }}</span></h3>
        </div>
        <div id="customer">
            <h4 class="branding">{{ invoice.client.name }}</h4>
            <address>{{ invoice.client.address|nl2br }}</address>
        </div>
        <div id="overview">
            <p><span class="branding">Invoice Date:</span> <span class="content">{{ invoice.created_at|date('d/m/Y') }}</span></p>
            <p><span class="branding">Account Number:</span> <span class="content">{{ invoice.client.internal_name }}</span></p>
            <p><span class="branding">Page:</span> <span class="content">1</span></p>
        </div>
    </div>

    <div id="items">
        <table>
            <thead>
                <tr>
                    <th align="left">Title</th>
                    <th align="left">Description</th>
                    <th class="right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for project in invoice.projects %}
                    <tr>
                        <td>{{ project.salestype.name }}</td>
                        <td class="description">{{ project.name }}{% if project.description %} - {{ project.description }}{% endif %}</td>
                        <td>{{ project.price|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <div id="terms">
            <p>Payment Terms {{ invoice.client.terms }} Days</p>
            <p>{{ settings.payment_details|nl2br }}</p>
        </div>
        <div id="total">
            <p>INVOICE TOTAL: <span class="total">&pound;{{ invoice.total_amount }}</span></p>
        </div>
    </footer>

</div>
    