{% if invoice.amount_due > 0 %}
<form method="POST" id="pay">
    <input type="hidden" name="id" value="{{ invoice.id }}" />
    <input type="hidden" name="unique_id" value="{{ invoice.unique_id }}" />
    <div id="payment-element">
        <div id="card-errors" role="alert"></div>
        <label for="card-element">Credit or debit card</label>
        <div id="card-element" class="glass"></div>
    </div>
    <button type="submit" class="follow-mouse">Pay £{{ invoice.amount_due|number_format(2) }}</button>
</form>

{% put scripts %}
<script>

    var card_element = '#pay #card-element';
    var card_errors  = '#pay #card-errors';

    var stripe = Stripe("{{ publishable_key }}");
    var elements = stripe.elements();

    var style = {
        base: {
            fontSize: '14px',
            lineHeight: '24px',
            color: '#fff',
            '::placeholder': {
                color: '#aaa',
            }
        }
    };

    var card = elements.create('card', {style: style});
    card.mount(card_element);

    card.addEventListener('change', function(event) {
        showError(false);
        if (event.error) showError(event.error.message);
    });

    var form = document.getElementById('pay');
    form.addEventListener('submit', handleStripePayment);

    function showError(message) {
        var displayError = document.querySelector(card_errors);
        var form = displayError;
        while (true) {
            if (form.tagName == 'FORM') break;
            form = form.parentNode;
        }
        form.classList.remove('submitting');
        displayError.textContent = '';
        if (message) displayError.textContent = message;
    }

    function handleStripePayment(e) {

        e.preventDefault();

        if (form.classList.contains('submitting')) return false;

        form.classList.add('submitting');

        var method_element = createHiddenInput('payment_method_id');

        stripe.createPaymentMethod('card', card, {
            billing_details: {
                name: "{{ invoice.client.name }}",
                email: "{{ invoice.client.email }}"
            }
        }).then(function(result) {
            if (result.error) {
                showError(result.error.message);
            }
            else {
                method_element.value = result.paymentMethod.id;
                $(form).request('onPay', {
                    complete: function(response) {
                        handleOnCompleteResponse(response);
                    }
                })
            }
        });

    }

    function handleOnCompleteResponse(response) {
        var data = response.responseJSON || false;
        if (response.status != 200) {
            if (response.responseJSON && response.responseJSON.result) {
                showError(response.responseJSON.result);
            }
            else {
                showError(response.statusText);
            }
        }
        else if (data.error) {
            showError(data.message);
        }
        // If this isn't a straightforward success
        else if (!data.X_OCTOBER_REDIRECT) {
            handleServerResponse(form, data);
        }
    }

    function handleServerResponse(form, data) {

        var intent_element = createHiddenInput('payment_intent_id');

        if (data.requires_action) {
            // Use Stripe.js to handle required card action
            stripe.handleCardAction(
                data.payment_intent_client_secret
            ).then(function(result) {
                if (result.error) {
                    showError(result.error.message);
                }
                else {
                    intent_element.value = result.paymentIntent.id;
                    $(form).request('onPay', {
                        error: function(response) {
                            console.log(response);
                        },
                        complete: function(response) {
                            handleOnCompleteResponse(response);
                        }
                    });
                }
            });
        }
        else {
            showError('Payment Success. Please wait while we redirect you.');
        }
    }

    function createHiddenInput(name) {
        var element = form.querySelector('input[name="' + name + '"]');
        if (!element) {
            var e  = document.createElement('input')
            e.name = name;
            e.type = 'hidden';
            form.appendChild(e);
            element = form.querySelector('input[name="' + name + '"]');
        }
        return element;
    }

</script>
{% endput %}

{% else %}
<p class="message">Invoice has been paid. Thank you.</p>
{% endif %}